{% extends 'admin/adminbase.html' %}
{% block content %}
<div class = "card-body">
    <table class = 'table table-dark'>
        <thead>
        <tr>
            <th>SLNO</th>
<!--        <th>schedule</th>-->
            <th>date</th>
             <th>starting time</th>
             <th>ending time</th>
            <th>Delete</th>


        </tr>
        <tbody>
    {% for  i in data %}
    <tr>
         <th scope ="row">{{forloop.counter}}</th>
        <td>{{i.date}}</td>
    <td>{{i.startingtime}}</td>
    <td>{{i.endingtime}}</td>
    <td>
        <form action ="{% url 'delete4' i.id %}" method="POST" style="display":inline;
                 onsubmit = "window.mytest()">
                 {% csrf_token %}
                 <input type ="hidden" value="{{n.user_id}}"/>
                 <button type ="submit" class="btn btn-danger waves-effect width-md waves-light">Delete</button>
                </form>
    </td>
    </tr>
       {% endfor %}
    </tbody>
        </thead>
    </table>
</div>
{% endblock %}
</html>